<%= link_to 'Back', projects_path, class: 'btn btn-outline-primary mb-3' %>
<div class="card"></div>
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span><%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-secondary' %>
        <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </h2>

    <div class="mb-4">
      <h6>Add Task</h6>
      <%= render "tasks/form" %>
    </div>

    <h4>Tasks</h4>
    <% @project.tasks.each do |task| %>
      <% if task.persisted? %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex">
              <span class="badge"><%= task.status %></span>
              <div>
                <%= link_to 'Edit', edit_project_task_path(task.project, task) %>
                <%= link_to 'Delete', project_task_path(task.project, task), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
            <h5 class="card-title">
              <span><%= task.name %></span>
            </h5>
            <p><%= task.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
